@use "./variables" as *;

button {
  --hover-opacity: 0.1;

  position: relative;
  height: var(--input-height);
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
  border: none;
  border-radius: var(--radius);
  padding: var(--padding) var(--padding-l);
  text-align: center;
  font-size: 16px;
  // disable text wrapping
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    background-color: var(--color-muted);
    color: var(--color-muted-foreground);
    cursor: not-allowed;
  }
  &:disabled:hover {
    background-color: var(--color-muted);
    color: var(--color-muted-foreground);
    box-shadow: none;
  }
  &:focus,
  &:focus-visible {
    outline: 2px var(--border-style) var(--border-color);
    box-shadow: 0 0 0 2px var(--color-primary-foreground);
  }
  &:hover,
  &:active {
    background-color: var(--color-primary-foreground);
    color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary);
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    opacity: var(--hover-opacity);
    border-radius: var(--radius);
  }
}

code {
  background-color: var(--color-muted);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--radius);
  font-size: var(--font-size-s);
}

dialog[open] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-overlay);
  backdrop-filter: blur(4px);
  border: none;

  form {
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

fieldset {
  border: var(--border);
  border-radius: var(--radius);
  margin: 0;

  legend {
    font-size: var(--font-size-m);
    padding: 0;
  }
}

hr {
  border: var(--border);
  border-right: none;
  border-bottom: none;
  margin: 0;
}

label {
  display: block;
  margin-bottom: var(--margin-s);
  font-size: 16px;
}

input {
  height: var(--input-height);
  padding: var(--padding-s) var(--padding-m);
  border: var(--border);
  border-radius: var(--radius);
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &:disabled {
    background-color: var(--color-muted);
    cursor: not-allowed;
  }
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: var(--input-height);
  margin: 0;
  padding: 0;
  background: red;
  border-radius: var(--radius);
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--input-height);
    height: var(--input-height);
    background: var(--color-primary);
    border-radius: var(--radius);
  }
  &::-moz-range-thumb {
    width: var(--input-height);
    height: var(--input-height);
    background: var(--color-primary);
    border-radius: var(--radius);
    border: none;
  }
  &::-ms-thumb {
    width: var(--input-height);
    height: var(--input-height);
    background: var(--color-primary);
    border-radius: var(--radius);
  }
  &::-ms-track {
    width: 100%;
    height: var(--input-height);
    background: var(--color-accent);
    border-radius: var(--radius);
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--input-height);
    background: var(--color-accent);
    border-radius: var(--radius);
  }
  &::-moz-range-track {
    width: 100%;
    height: var(--input-height);
    background: var(--color-accent);
    border-radius: var(--radius);
  }
}

.message {
  position: relative;
  margin: var(--margin-m) 0 0 0;
  word-wrap: break-word;
  overflow-wrap: break-word;

  p {
    padding: 0;
    margin: 0;
  }

  :first-child {
    font-weight: bold;
  }

  &:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-secondary);
    width: 100%;
    height: var(--border-width);
  }

  &::after {
    // Display date
    content: attr(data-time);
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-border);
    font-size: var(--font-size-s);
  }

  &:hover {
    box-shadow: inset 0 0 -1px var(--color-primary);
  }
}

.message-context-menu {
  position: absolute;
  background-color: var(--color-background);
  border-radius: var(--radius);
  padding: var(--padding-s);
  border: var(--border);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  > * {
    padding: var(--padding-s) var(--padding-m);
    margin: 0;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      background-color: var(--color-muted);
      color: var(--color-primary);
    }
  }

  > .info {
    color: var(--color-muted-foreground);
  }

  > .danger {
    color: var(--color-error);
  }
}

.spacer {
  flex-grow: 1;
}
