@use "./reset.scss";
@use "./variables.scss" as *;
@use "./base.scss";
@use "./components.scss";

header {
  background-color: $color-primary;
  color: $color-primary-foreground;
  padding: $padding-l 0;
  display: flex;
  border-bottom: $border;

  .logo {
    height: 3rem;
    user-select: none;
  }

  h1 {
    margin: 0;
  }

  > div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $margin-l;
    margin: 0 $margin-m;

    :not(h1) {
      font-size: $font-size-l;
      font-weight: 500;
    }

    @media screen and (min-width: $screen-xl) {
      width: $screen-xl;
      margin: 0 auto;

      > :first-child {
        margin-left: $margin-m;
      }
      > :last-child {
        margin-right: $margin-m;
      }
    }
  }

  #client-name::after {
    content: "🙋";
    font-size: $font-size-xl;
    font-weight: 400;
    margin-left: $margin-s;
    color: $color-primary-foreground;
    filter: brightness(0) invert(100%);
  }
}

aside {
  margin: $margin-m;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  height: 30dvh;
  @media screen and (min-width: $screen-m) {
    height: initial;
    min-width: 340px;
    width: 30%;
  }

  > :first-child {
    display: flex;
    gap: $margin-s;
    margin-bottom: $margin-m;

    > input,
    > #leave-room {
      flex: 1;
    }
  }

  > :last-child {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

main {
  margin: $margin-m;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  #messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
  }
}

footer {
  overflow-x: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: $color-accent;
  color: $color-accent-foreground;

  menu {
    display: flex;
    justify-content: flex-end;
    gap: $margin-m;
    margin: $margin-m;

    @media screen and (min-width: $screen-xl) {
      width: $screen-xl;
      margin: $margin-m auto;

      > :first-child {
        margin-left: $margin-m;
      }
      > :last-child {
        margin-right: $margin-m;
      }
    }
  }
}

#rooms {
  list-style-type: none;

  > li {
    padding: 0.5rem 0rem;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &.current {
      font-weight: bold;
    }
  }
}

dialog[open] {
  form {
    background-color: $color-background;
    border-radius: $radius;
    padding: $padding-l $padding-xl;
  }

  menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: $margin-l;
    margin-bottom: $margin-m;
    width: 100%;
  }
  button[type="submit"] {
    width: 100%;
  }
}
